<div class="glass-panel rounded-lg p-md flex flex-col gap-sm">
  <div class="flex items-center gap-sm border-b border-outline-variant pb-sm">
    <span class="material-symbols-outlined text-secondary" style="font-variation-settings: 'FILL' 0;">tune</span>
    <h3 class="font-headline-md text-base">Processing Controls</h3>
  </div>
  <div class="flex flex-col gap-sm pt-xs">
    <primary-button id="btn-equalize" icon="equalizer" text="Ecualizar Histograma"></primary-button>
    <primary-button id="btn-expand" icon="expand" text="Expansión Min-Max"></primary-button>
  </div>
</div>
